.cke_notifications_area{
    display: none;
}

.ea-detail .field-group.field-boolean {
    flex-direction: initial;
    .field-label {
        flex: initial;
        min-inline-size: initial;
        text-align: right;
        margin: 0 15px 0 0;
        padding: 0 0 1px;
    }
    .field-value {
        flex: 1;
        min-inline-size: 66%;
        inline-size: initial;
        text-align: initial;
    }
}

tr[data-href] {
    cursor: pointer;
}

.field-value > table > tbody > tr:nth-of-type(odd) {
    border-top: 2px solid var(--table-cell-color) !important;
}
