{#Failas užkraunamas iš TVS#}

<table class="table table-responsive table-striped table-hover table-condensed table-bordered">
    <thead>
        <tr class="table-secondary">
            <th>Objektas</th>
        </tr>
    </thead>
    <tbody class="">
        {% for userObject in field.value %}
            <tr class="">
                <td>
                    <a class="list-group-item" href="?crudAction=detail&crudControllerFqcn=App%5CController%5CAdmin%5CUsersObjectsCrudController&entityId={{ userObject.id }}">
                        {{ userObject }}
                    </a>
                </td>
            </tr>
            <tr class="">
                <td colspan="10" class="">
                    {% include 'admin/users_objects/bundles_table.twig' with {'userObjectBundles' : userObject.users_objects_services_bundles, 'caption' : 'Objekto paslaugų paketai'} %}
                </td>
            </tr>
        {% else %}
            <tr class="text-center">
                <td colspan="20">Klientas neturi objektų</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
