{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    <div class="row g-4">
        <div class="col-6 col-md-4">
            <div class="card h-100 shadow border-0">
                <a href="/admin?crudAction=index&crudControllerFqcn=App\Controller\Admin\UsersCrudController" class="">
                    <div class="card-body">
                        Klientai <h1>{{ userCount }}</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card h-100 shadow border-0">
                <div class="card-body">
                    Aktyvūs paslaugų paketai <h1>{{ activeUsersServicesBundlesCount }}</h1>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card h-100 shadow border-0">
                <a href="/admin?crudAction=index&crudControllerFqcn=App\Controller\Admin\InvoicesCrudController&filters[is_paid]=0" class="">
                    <div class="card-body">
                        Nesumokėta <h1>{{ (unpaidAmount/100)|format_currency('EUR') }}</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="card h-100 shadow border-0">
                <div class="leaflet-map-all" data-coordinates="{{ coordinates|join(';') }}" style="width: 100%;height: 400px;cursor: pointer;"></div>
            </div>
        </div>
    </div>
{% endblock main %}
