@import './mixin';
@import './components/disabilities';
@import './components/steps';

:root {
    --bs-primary: #5e8ddf;
    --bs-primary-rgb: 94, 141, 223;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

//.cursor-pointer {
//    cursor: pointer;
//}
tr[data-href] {
    cursor: pointer;
}


//region ask question modal
.ask_question {
    right: 1rem;
    bottom: 1rem;
    display: none;
}
#questionModal.show {
    display: flex!important;
}
#questionModal {
    flex-direction: column-reverse;
    >.modal-dialog {
        margin-right: initial;
    }
}
//endregion ask question modal


//region inputs
form {
    label.required {
        &:after {
            content: '*';
        }
    }
}
//endregion inputs
